@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  backdrop-filter: blur(5px);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(photos/pexels-thatguycraig000-1563355.jpg);
  z-index: -10;
}
/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
} */
main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.125rem;
}
.search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  gap: 10px;
  padding: 5px 15px;
  border-radius: 60px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 5px transparent;
  transition: all .2s ease;
}
.search_input {
  width: 30vw;
  min-width: 250px;
  max-width: 700px;
  border: none;
  outline: none;
  height: 40px;
  color: black;
  font-size: 1.125rem;
}
::placeholder {
  color: grey;
}
.search_container button {
  border: none;
  outline: none;
  background: none;
}
.search_container button svg {
  height: 25px;
  background: none;
  cursor: pointer;
  fill: grey;
  transition: all .2s ease;
}
.search_container button:hover svg {
  height: 25px;
  background: none;
  cursor: pointer;
  fill: rgb(0, 0, 0);
}
.search_container:focus-within {
  outline: none;
  border: 2px solid rgba(66, 66, 66, 0.818);
  box-shadow: 0 0 0 5px rgba(62, 62, 62, 0.366);
}
.apps_container { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
}
.apps_container:has(img:hover) img{
  filter: grayscale(1);
  opacity: .6;
}
.apps_container:has(img:hover) img:hover {
  filter: grayscale(0);
  opacity: 1;
}
.apps_container img {
  width: 3.385vw;
  min-width: 50px;
  max-width: 75px;
  mix-blend-mode: multiply;
  aspect-ratio: 4/4;
  object-fit: contain;
}
.apps_container a {
  margin: 1.25rem;
  padding: 5px;
  border-bottom: 2px solid transparent;
}

/* phones */
@media (max-width: 480px) {
  body {
    background-image: url(photos/pexels-thatguycraig000-1563355.jpg);
  }
  main {
    height: 100vh;
    gap: 30px;
  }
  .apps_container {
    width: 100%;
  }
  .apps_container a {
    margin: 30px;
  }
  .search_input {
    border: none;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
  }
  
}
/* Low resolution tablets */
@media (min-width: 481px) and (max-width: 820px) {
  body {
    background-image: url(photos/pexels-thatguycraig000-1563355.jpg);
  }
  main {
    height: 100vh;
  }
  .apps_container {
    width: 90vw;
  }
  .apps_container img {
    width: 100%
  }
  .apps_container a {
    margin: 1.875rem;
  }
  .search_input {
    width: 45vw;
    border: none;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
  }
}
/* Tablets in portrait mode */
@media (min-width: 821px) and (max-width: 1024px) {
  body {
    background-image: url(photos/pexels-thatguycraig000-1563355.jpg);
  }
  main {
    height: 100vh;
  }
  .apps_container {
    width: 90vw;
  }
  .apps_container img {
    width: 10vw;
  }
  .apps_container a {
    margin: 1.875rem;
  }
  .search_input {
    width: 55vw;
    border: none;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
  }
}

